/*--- Paleta de colores ---*/
:root{
    --color-black: #06080D;
    --color-light-black: #1A2E40;
    --color-light-black2: #385164;
    --color-dark-blue: #82C4FD;
    --color-light-blue2: #5CB9F2;
    --color-white: #F6F8FF;
}
