/*--- Paleta de colores ---*/
:root{
    --color-black: #06080D;
    --color-dark-blue: #1B8EF2;
    --color-light-black: #1A2E40;
    --color-light-black2: #385164;
    --color-light-blue1: #22A2F2;
    --color-light-blue2: #5CB9F2;
    --color-white: #d0e8fc;
}
