
/*--Estilos generales--*/
body{
    background: var(--color-light-black);
    color: var(--color-white);
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.5rem;
}

a{
    color: inherit;
    text-decoration: none;
}

/*--- Barra de navegacion en el header ---*/
.header{
    padding-top: 1rem;
}

.container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 7.5%;
    width: 85%; 
}

.header__titulo{
    font-size: 2em;
    font-weight: bold;
	margin-bottom: 10px;
}

.menu{
    display: flex;
}

.menu__link{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}

/*--- Area de presentacion ---*/

.presentacion{
    width: 67%;
}

.titulo-principal{
    font-size: 2rem;
    line-height: 2rem;
}

.parrafo__contenido{
    font-size: 1.2rem;
    padding: 1rem 0;
}

.presentacion__redes-sociales{
    color: var(--color-dark-blue);
}

.redes-sociales__link{
    padding-right: 1rem;
}

.presentacion__imagen{
    display: flex;
    background-image: url(../img/foto.png);
    background-position: center;
    background-size: contain;
    border-radius: 100%;
    width: 230px;
    height: 230px;
    margin: 0 auto;

}

/*--- Area - sobre mi ---*/
.sobre-mi{
    background-color: var(--color-light-black2);
    padding: 2rem 0;
}

.sobre-mi__container{
    display: block;
}

.sobre-mi__contenido{
    width: 67%;
}

/*--- Area de skills y hobbies ---*/
.titulo-principal__azul{
    display: block;
    color: var(--color-dark-blue);
    padding: 3.5rem 0;
    text-align: center;
    font-size: 2.5rem;
}
.container__tarjeta{
    flex-wrap: wrap;
    justify-content: start;
}

.tarjeta{
    display: block;
    box-shadow: 2px 2px 2px var(--color-light-blue2);
    background-color: var(--color-light-black2);
    width: calc(20% - 1.5rem);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.tarjeta__imagen{
    width: 60%;
    padding: 20% 20%;

}
.tarjeta__titulo{
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

/*---Area de Educacion---*/
.tarjeta__educacion{
    width: calc(33.33% - 1.5rem);
    height: 350px;
    background: var(--color-light-black);
}
.contenedor__imagenes{
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
}
.contenedor__one{
    width: 100%;
    height: 175px;
}
.one__imagen1{
    width: 80%;
    height: 70px;
    margin: 0 10%;
}
.one__imagen2{
    width: 56%;
    height: 100px;
    margin: 0 22%;
}
.imagen__telefonica{
    height: 50px;
    margin-top: 35.25px;
}

.educacion__certificados{
  margin-left: 1rem; 
  margin: 1.5rem 1rem;
  height: 96px;
}
